#include "winresrc.h"
/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
LEMONADE_ICON              ICON                    "../../dist/lemonade.ico"


/////////////////////////////////////////////////////////////////////////////
//
// RT_MANIFEST
//

0                       RT_MANIFEST             "../../dist/lemonade.manifest"
