name: Release Workflow

on:
  workflow_dispatch:

permissions:
  actions: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Download Windows MSVC Artifact
        run: |
          curl -L -o windows-msvc.zip https://nightly.link/Lemonade-emu/Lemonade/workflows/build/master/windows-msvc.zip

      - name: Download Linux AppImage Artifact
        run: |
          curl -L -o linux-appimage.zip https://nightly.link/Lemonade-emu/Lemonade/workflows/build/master/linux-appimage.zip

      - name: Download Android APK Artifact
        run: |
          curl -L -o Android-APK.zip https://nightly.link/Lemonade-emu/Lemonade/workflows/build/master/Android-APK.zip

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.LEMONADEACTION }}
        with:
          tag_name: v${{ github.run_number }}
          release_name: Lemonade ${{ github.run_number }}
          body: |
            Description of the release goes here.
          draft: true
          prerelease: true

      - name: upload Android artifact
        uses: actions/upload-release-asset@v1
        env:
         GITHUB_TOKEN: ${{ secrets.LEMONADEACTION }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./$(pwd)/Android-APK.zip
          asset_name: Android-APK.zip
          asset_content_type: application/zip
          
      - name: upload linux-appimage artifact
        uses: actions/upload-release-asset@v1
        env:
         GITHUB_TOKEN: ${{ secrets.LEMONADEACTION }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./$(pwd)/linux-appimage.zip
          asset_name: linux-appimage.zip
          asset_content_type: application/zip
          
      - name: upload windows artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.LEMONADEACTION }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./$(pwd)/windows-msvc.zip
          asset_name: windows-msvc.zip
          asset_content_type: application/zip
          
